body{
	background: lightblue;
    margin: 0;
      padding: 0;

}
.container {
	 width: 400px;
	margin: 0 auto;
	background-color: white;
	padding: 20px; 
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  
  h1 {
	background-color: white;
	color: red;
	font-size: 50px;
	text-transform: uppercase;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
  }
  
  form {
	background-color: white;
	display: flex;
	margin-bottom: 20px;
  }
  
  input[type="text"] {
	flex: 1;
	background-color: white;
	height: 23px;
	border-radius: 5px;
	padding: 5px;
  }
  
  select {
	border-radius: 5px;
	background-color: white;
	margin-left: 10px;
  }
  
  button {
	padding: 5px 10px;
	background-color: goldenrod;
	color: white;
	font-weight: bold;
	margin-left: 5px;
	width: 60px;
	border-radius: 5px;
	border: 10px;
	cursor: pointer;
  }
  
  button:hover {
	background-color: rgb(183, 143, 44);

  }
  
  h2 {
	background-color: white;
	margin-top: 20px;
  }
  
  ul {
	background-color: white;
	list-style-type: none;
  }
  
  li {
	background-color: white;
	margin-bottom: 5px;
  }
  
  .personal {
	background-color: white;
	color: blue;
  }
  
  .work {
	background-color: white;
	color: orange;
  }
  
  .shopping {
	background-color: white;
	color: green;
  }
  option{
	border-radius: 5px;
	background-color: white;

  }

.delete-btn {
	background-color: #f44336;
	color: white;
	border: none;
	padding: 3px 6px;
	margin-left: 5px;
	cursor: pointer;
  }
  
  .delete-btn:hover {
	background-color: #d32f2f;
  }
  